<h2>List of Works</h2>


<%["album","book","movie"].each do |category| %>
  <section class='media-table'>
    <h4><%=category.capitalize%>s</h4>
    <table class="table">
      <thead>
        <tr>
          <th width= "300">Title</th>
          <th width="300">Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>

      <tbody>
        <% @works.where(category: category).sort.reverse.each do |work| %>
          <tr>
            <td><%= link_to work.title, work_path(work.id)%></td>
            <td><%=work.creator%></td>
            <td><%=work.publication_year%></td>
            <td>
              <% if @user && Vote.exists?(work_id: work.id, user_id: @user.id) %>
                Voted
              <% else  %>
                <%= link_to "<button>Upvote</button>".html_safe, create_path(work) %>
              <% end %>
            </td> 
          </tr> 
        <% end %>
      </tbody>
    </table>
  </section>
<%end%>

<%= link_to "View Top Media", root_path, class:'btn btn-secondary' %>
<%= link_to "View All Users", users_path, class:'btn btn-secondary' %>
<%= link_to "Add a New Work", new_work_path, class:'btn btn-secondary' %>