<h2>Medias:</h2>

<section class="media-table">
  <h3>Albums</h3>
  <ul>
    <% @works.where(category: "album" ).sort.each do |album|  %>
      <ol>
        <%= link_to album.title, work_path(album.id), class:"olnk" %>, 
        <%= album[:creator] %>
        (<%= album[:publication_year] %>)

        <% if @user && Vote.exists?(work_id: album.id, user_id: @user.id) %>
          Voted
        <% else  %>
          <%= link_to "<button>Upvote</button>".html_safe, create_path(album) %>
        <% end %>

      </ol>
    <% end %>
  </ul>

  <h3>Books</h3>
  <ul>
    <% @works.where(category: "book" ).sort.each do |book|  %>
      <ol>
        <%= link_to book.title, work_path(book.id), class:"olnk" %>, 
        <%= book[:creator] %>
        (<%= book[:publication_year] %>)

        <% if @user && Vote.exists?(work_id: book.id, user_id: @user.id) %>
          Voted
        <% else  %>
          <%= link_to "<button>Upvote</button>".html_safe, create_path(book) %>
        <% end %>

      </ol>
    <% end %>
  </ul>

  <h3>Movies</h3>
  <ul>
    <% @works.where(category: "movie" ).sort.each do |movie|  %>
      <ol>
        <%= link_to movie.title, work_path(movie.id), class:"olnk" %>, 
        <%= movie[:creator] %>
        (<%= movie[:publication_year] %>)

        <% if @user && Vote.exists?(work_id: movie.id, user_id: @user.id) %>
          Voted
        <% else  %>
          <%= link_to "<button>Upvote</button>".html_safe, create_path(movie) %>
        <% end %>

      </ol>
    <% end %>
  </ul>
</section>

<%= link_to "View Top Media", root_path, class:'btn btn-secondary' %>
<%= link_to "View All Users", users_path, class:'btn btn-secondary' %>
<%= link_to "Add a New Work", new_work_path, class:'btn btn-secondary' %>