<%= link_to "Edit", edit_work_path(@work), class:"link" %>
<br><br>
<%= link_to "Delete", work_path(@work), class:"link", method: :delete, data: {confirm: "Confirm"} %>
<br><br>
<%= link_to "See All", works_path, class:"link" %>
<br><br>
<p><%= link_to "Return to List", works_path %></p>

<h1><%= @work[:title] %></h1>
<h3>Creator: <%= @work[:creator] %></h3>
<h3>Category: <%= @work[:category] %></h3>
<h3>Published: <%= @work[:publication_year] %></h3>
<h3>Description: <%= @work[:description] %></h3>
