<h2><%= @work[:title] %></h2>
<p><b>Creator: </b><%= @work[:creator] %></p>
<p><b>Category: </b><%= @work[:category] %></p>
<p><b>Published: </b><%= @work[:publication_year] %></p>
<p><b>Description: </b><%= @work[:description] %></p>

<%= link_to "Edit", edit_work_path(@work), class:"btn btn-quaternary" %>
<%= link_to "Delete", work_path(@work), class:"btn btn-quaternary", method: :delete, data: {confirm: "Are you sure you want to delete this work?"} %>
<%= link_to "Upvote", create_path, class:"btn btn-quaternary" %>
<div><%= link_to "Return to All Media", works_path, class:"btn btn-tertiary" %></div>
