<h1><%= @work[:title] %></h1>
<h3>Creator: <%= @work[:creator] %></h3>
<h3>Category: <%= @work[:category] %></h3>
<h3>Published: <%= @work[:publication_year] %></h3>
<h3>Description: <%= @work[:description] %></h3>
