<h1><%= @work[:title] %></h1>
<h3>Creator: <%= @work[:creator] %></h3>
<h3>Category: <%= @work[:category] %></h3>
<h3>Published: <%= @work[:publication_year] %></h3>
<h3>Description: <%= @work[:description] %></h3>

<%= link_to "Edit", edit_work_path(@work), class:"link" %>
<%= link_to "Delete", work_path(@work), class:"link", method: :delete, data: {confirm: "Confirm"} %>
<%= link_to "Upvote", works_path, class:"link" %>
<p><%= link_to "Return to All Media", works_path, class:"link" %></p>
