<h1><b>User: </b><%= @user[:name] %></h1>

<% @user.works_by_user.each do |work| %>
  <p><b>Title: </b><%= work[:title] %></p>
  <p><b>Creator: </b><%= work[:creator] %></p>
  <p><b>Published: </b><%= work[:publication_year] %></p>
  <p><b>Category: </b><%= work[:category] %></p>
  <br>
<% end %>

<div><%= link_to "Return to All Media", works_path, class:"btn btn-secondary" %></div>
